<!DOCTYPE html>
<html>
<head>
  <title>UserAuth</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:id] %>

  <p>You are logged in as: <%= User.find(session[:id]).username %></p>
<%= link_to 'Sign Out', controller: 'sessions', action: 'destroy' %>
<% end %>

<%= yield %>

</body>
</html>
